@tailwind base;
@tailwind components;
@tailwind utilities;

/* yantramanav-300 - latin */
@font-face {
  font-family: "Yantramanav";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Yantramanav"),
    url("./fonts/yantramanav-v11-latin-300.woff2") format("woff2"),
    url("./fonts/yantramanav-v11-latin-300.woff") format("woff");
}

/* yantramanav-regular - latin */
@font-face {
  font-family: "Yantramanav";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Yantramanav"),
    url("./fonts/yantramanav-v11-latin-regular.woff2") format("woff2"),
    url("./fonts/yantramanav-v11-latin-regular.woff") format("woff");
}

::root {
  @apply bg-black;
}

html {
  @apply h-full overscroll-y-none;
  display: grid;
  grid-template-rows: 1fr;
}

#root {
  @apply h-full;
  display: grid;
  grid-template-rows: max-content 1fr;
}

body {
  @apply w-full row-span-1;
  @apply text-white;
  @apply bg-fixed bg-no-repeat bg-gradient-to-b from-black to-[#0b215b] bg-[#0b215b];
}

button,
input[type="submit"] {
  border-radius: 6px;
  @apply text-black font-light text-xl;
  @apply py-2 px-4;
  @apply bg-gray-button;
  @apply shadow-button active:shadow-button-inverted;
  @apply uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
}

button:has(> img) {
  @apply text-sm flex flex-col justify-center items-center h-[6rem] w-[6rem];
}

button:has(> img).secondary {
  @apply bg-none border-2 border-white text-white shadow-none active:bg-faint;
}

/* Old timey CSS to support firefox */
button.manager-button {
  @apply text-sm flex flex-col justify-center items-center h-[6rem] w-[6rem];
}

/* Old timey CSS to support firefox */
button.manager-button.secondary {
  @apply bg-none border-2 border-white text-white shadow-none active:bg-faint;
}

button.secondary {
  @apply bg-none border-2 border-white text-white shadow-none active:bg-faint;
}

button.toggle {
  @apply shadow-none;
}

button.blue-button {
  @apply text-white bg-blue-button;
}

button.green-button {
  @apply text-white bg-green-button;
}

h1.green-header {
  @apply border-b-2 border-b-green;
}

input[type="text"] {
  @apply p-4;
  @apply text-black font-light text-xl;
  @apply placeholder-[#4E5B7E];
  @apply border-[2px] focus:outline-none focus:ring-2 focus:ring-offset-2  ring-offset-black;
}

pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  @apply border rounded shadow-lg p-4 my-4;
}

a {
  @apply underline;
}

dl {
  @apply text-xl;
}

dt {
  @apply font-bold uppercase;
}

dd {
  @apply font-light;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
*::-webkit-scrollbar {
  display: none;
}

/* Firefox */
* {
  scrollbar-width: none;
}

.fileInput {
  display: none;
}

.fileInputButton {
  font-family: inherit;
  border-radius: 6px;
  @apply text-black font-light text-xl;
  @apply py-2 px-4;
  @apply bg-gray-button;
  @apply shadow-button active:shadow-button-inverted;
  @apply uppercase;
}

.fileInputButton:hover {
  cursor: pointer;
}

select {
  @apply appearance-none;
  @apply block;
  @apply border-[2px] focus:outline-none focus:ring-2 focus:ring-offset-2 ring-offset-black;
  @apply font-light text-lg;
  @apply py-4 pl-4 pr-8;
}

.select-wrapper {
  @apply relative;
}

.select-wrapper::after {
  /* A down arrow because the platform sucks */
  content: url("data:image/svg+xml,%3Csvg aria-hidden='true' class='w-4 h-4 ml-1' fill='white' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M5.293 7.293a1 1 0 0 1 1.414 0L10 10.586l3.293-3.293a1 1 0 1 1 1.414 1.414l-4 4a1 1 0 0 1-1.414 0l-4-4a1 1 0 0 1 0-1.414z' clip-rule='evenodd'/%3E%3C/svg%3E");
  right: 0.5rem;
  top: 1.2rem;
  width: 1.5rem;
  @apply absolute;
}
