name: Tests

on:
  pull_request:

jobs:
  website:
    name: Build WASM binary
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          components: clippy
          target: wasm32-unknown-unknown
          override: true
          profile: minimal

      - name: Install wasm-pack
        run: cargo install wasm-pack

      - uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: cargo-${{ runner.os }}-browser-tests-v2-${{ hashFiles('**/Cargo.toml') }}
          restore-keys: |
            cargo-${{ runner.os }}-browser-tests-v2-
            cargo-${{ runner.os }}-

      - name: Build wasm package
        env:
          RUSTUP_TOOLCHAIN: nightly
        run: wasm-pack build ./mutiny-wasm --release --target web

  browser_tests:
    name: Browser Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          components: clippy, rustfmt
          target: wasm32-unknown-unknown
          override: true
          profile: minimal

      - name: Install wasm-pack
        run: cargo install wasm-pack

      - name: Setup trunk
        uses: jetli/trunk-action@v0.1.0
        with:
          version: 'latest'

      - uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: cargo-${{ runner.os }}-browser-tests-v2-${{ hashFiles('**/Cargo.toml') }}
          restore-keys: |
            cargo-${{ runner.os }}-browser-tests-v2-
            cargo-${{ runner.os }}-

      - name: Run mutiny-core wasm tests
        env:
          RUSTUP_TOOLCHAIN: nightly
        run: wasm-pack test --headless --firefox --chrome ./mutiny-core

      - name: Run mutiny-wasm wasm tests
        env:
          RUSTUP_TOOLCHAIN: nightly
        run: wasm-pack test --headless --firefox --chrome ./mutiny-wasm

  rust_tests:
    name: Rust Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          components: clippy, rustfmt
          target: wasm32-unknown-unknown
          override: true
          profile: minimal

      - name: Setup trunk
        uses: jetli/trunk-action@v0.1.0
        with:
          version: 'latest'

      - uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: cargo-${{ runner.os }}-rust-tests-v2-${{ hashFiles('**/Cargo.toml') }}
          restore-keys: |
            cargo-${{ runner.os }}-rust-tests-v2-
            cargo-${{ runner.os }}-

      - name: Check formatting
        run: cargo fmt --check

      - name: Check clippy mutiny-core
        run: cargo clippy --package mutiny-core -- -D warnings -Aclippy::drop_non_drop #wasm-bindgen pr #3089

      - name: Check clippy mutiny-wasm
        run: cargo clippy --package mutiny-wasm -- -D warnings -Aclippy::drop_non_drop #wasm-bindgen pr #3089
